$color__border-category: white;
$color__text-category: white;

$padding__category-header: 20px;

.category-title {
  margin: 0;
  font-size: 4.8rem;
}

.category-description {
  max-width: 100%;

  p {
    margin-bottom: 0;
  }
}

.category-title + .category-description {
  margin-top: 3rem;
}

.brand-mark {
  margin-bottom: 4.5rem;
}

.category-header-frame {
  padding: 3rem;
  background-color: rgba(0,0,0, .2);
  border: 5px solid $color__border-category;
}

.has-category-artwork {
  position: relative;
  background-position: left 70% bottom 50%;
  background-size: 683px 715px;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .4) 1%, rgba(0,0,0, 0) 30%);
  }

  .category-header-inner {
    position: relative;
    z-index: 1;
  }

  .category-black-mirror-law & {
    background-color: #252F30;
  }

  .category-black-mirror-law &:before {
    background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .1));
  }

  .category-study-law-tech & {
    background-color: #076474;
  }

  .category-legal-tech-landscape & {
    background-color: #6F4494;
  }

}