.entry-content {

  // Special alignments to be used from parent theme
  // .alignwide, .alignfull, .is-style-wide

  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: $width__entry-content;
    width: calc(100% - #{2 * $size__edge_whitespace_padding});
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    width: 100%;
  }

  .col-6-lg {
    @include breakpoint-from(lg) {
      width: 50%;
    }
  }
}