$font-size__post-fll-general: 2.4rem;
$font-size__post-fll-category: 2.4rem;
$font-size__post-fll-featured: 3.2rem;


.post {

  .post-title {
    font-size: $font-size__post-fll-general;
  }
}

.wp-block-post-layouts-fll-category-post-list {
  
  .post-title {
    font-size: $font-size__post-fll-category;
  }
}

.wp-block-post-layouts-fll-featured-post {
  
  .post-title {
    font-size: $font-size__post-fll-featured;
  }
}