.wp-block-post-layouts-fll-category-post-list {
  $font-size__post-fll-category: 2.4rem;
  
  .post-title {
    font-size: $font-size__post-fll-category;
  }
}

.wp-block-post-layouts-fll-featured-post {
  $font-size__post-fll-featured: 3.2rem;
  
  .post-title {
    font-size: $font-size__post-fll-featured;
  }
}